<div class="content" role="main">
  <div ngbAccordion>
    <div ngbAccordionItem [collapsed]="false">
      <h2 ngbAccordionHeader>
        <button class="btn-accordion" ngbAccordionButton>Simple</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, reiciendis. Eaque, earum! Incidunt corrupti veritatis explicabo consequuntur cum odio voluptatum quasi inventore sapiente, ab facilis dolorum debitis excepturi quisquam magnam!
              Laborum, dignissimos. Sint soluta, ut iste dolorum doloremque eaque voluptate incidunt voluptatibus mollitia veritatis quasi, autem ab provident nulla error, quia eligendi rerum similique temporibus. Laborum aliquid commodi enim iste?
              Perferendis quos sapiente quam quibusdam est maiores harum libero? Quis est repellendus cupiditate nemo possimus, autem reprehenderit a doloribus assumenda laborum doloremque accusamus accusantium iure dignissimos, temporibus vitae quas delectus.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero officia, impedit dolore necessitatibus, quam accusamus, nemo temporibus explicabo obcaecati eius laudantium eaque reiciendis velit rem quaerat fugit magni? Expedita, saepe.
              Tempora eaque fugit repellat ut voluptates nulla voluptatum quaerat distinctio ullam dolorum enim quia consequuntur repudiandae, fuga placeat eius perferendis rerum sit quis dolores. Optio dolorem quas aliquam ab quis?
            </p>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          <span>&#9733; <b>Fancy</b> title &#9733;</span>
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci vero accusantium velit corporis mollitia culpa iste. Commodi unde distinctio ratione! Itaque necessitatibus ex quisquam dolorum facilis in odio rem tenetur.
            Tempora, nulla voluptatum, eos provident nostrum cumque itaque error iure vero dolorem obcaecati amet, doloremque impedit nesciunt quae reprehenderit modi similique placeat? Repellendus laudantium molestiae sed, cupiditate vitae odio labore?
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Hmm</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, consectetur iure? Repellat explicabo, maxime ipsa consequuntur quasi reprehenderit unde totam maiores quos quod eligendi hic incidunt atque dignissimos molestias eveniet.
            Minima ut distinctio, autem inventore ullam soluta alias suscipit tempore, qui rerum illum consequatur. Et distinctio quo obcaecati quia aspernatur commodi dolorum quisquam dolore quam aliquid sed, itaque est tempore.
            Delectus quae molestiae deserunt magnam qui ea dolores est nulla veniam facilis dicta ipsam sint, corporis, sequi adipisci cupiditate. Illum tempora consequatur exercitationem delectus perspiciatis eos dignissimos id esse ullam!
            Alias, illo saepe doloribus consectetur dicta reiciendis impedit blanditiis quibusdam eveniet modi nostrum vero optio fuga dignissimos dolor nesciunt facere accusamus voluptates officiis suscipit totam laboriosam necessitatibus vitae illum. Ad?
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>