<div class="container clearfix" style="width: 100%;">
    <div class="people-list" id="people-list">
        <div class="search">
            <input id="userl" [(ngModel)]="searchQuery" placeholder="Search" type="text" (input)="onSearchUsers()" />
            <button (click)="enterNewChat()">Enter New Chat</button>
            <!-- <button (click)="searchUsers()">Search</button> -->
        </div>
        <ul class="list" id="usersList">
            <li *ngFor="let user of searchedUserList">
                <a href="#" (click)="selectUser(user)">
                    <li class="clearfix">
                        <img src="../../assets/images/services/test_image.jpeg" width="55px" height="55px" alt="avatar" />
                        <div class="about">
                            <div id="userNameAppender_' + {{ user }} + '" class="name">{{ user }} 
                                <div class="status">
                                    <i class="fa fa-circle offline"></i>
                                </div>
                            </div>
                        </div>
                    </li>
                </a>
            </li>
        </ul>
    </div>

    <div class="chat">
        <div class="chat-header clearfix">
            <img alt="avatar" height="55px"
                src="../../assets/images/services/test_image.jpeg"
                width="55px"/>

            <div class="chat-about">
                <div class="chat-with">{{ selectedUser }}</div>
                <div class="chat-num-messages"></div>
            </div>
            <i class="fa fa-star"></i>
        </div> <!-- end chat-header -->

        <div class="chat-history">
            <ul>
                <li *ngFor="let message of messages">
                    <app-user-message
                        *ngIf="message.type === 'user'"
                        [time]="message.time"
                        [messageOutput]="message.content"
                    ></app-user-message>
                    <app-response-message
                        *ngIf="message.type === 'response'"
                        [time]="message.time"
                        [userName]="message.userName"
                        [response]="message.content"
                    ></app-response-message>
                </li>
            </ul>
        </div> <!-- end chat-history -->

        <div class="chat-message clearfix">
            <textarea [(ngModel)]="messageToSend" name="message-to-send" placeholder="Type your message" rows="3"></textarea>

            <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
            <i class="fa fa-file-image-o"></i>

            <button (click)="sendMessage()">Send</button>
        </div> <!-- end chat-message -->

    </div> <!-- end chat -->

</div> <!-- end container -->
