.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: inherit;
  color: inherit;
  height: 64px;
  padding: 10px;
}

.menu-left {
  display: flex;
  align-items: center;
}

.menu-left .app-logo {
  margin-left: 1rem;
  margin-right: 2rem;
}

.menu-item {
  display: flex;
  list-style: none;
  margin: auto;
} 

.menu-item > * {
  margin-right: .7rem;
  cursor: pointer;
}

.menu-item > *:last-child {
  margin-right: 0;
}

.menu-container a {
  text-decoration: none;
  /* color: #001858; */
  color: inherit;
  padding: 4px 12px;
  border-radius: 4px;
}

.menu-container a:hover {
  text-decoration: underline;
  background-color: var(--btn-primary-color-hover);
}

.menu-right {
  display: flex;
  align-items: center;
  gap: .6rem;
}

.menu-right:hover {
  text-decoration: none !important;
}

.menu-right .profile-img > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  background-color: var(--main-color);

}

.profile-text .profile-name {
  display: block;
  font-size: 1rem;
}

.profile-text .profile-subtext {
  font-size: .8rem;
}