<div class="menu-container">
  <div class="menu-left">
    <div class="app-logo">
      <a routerLink="/about">
        <img src="../../assets/images/services/test_image.jpeg" alt="Logo" style="width: 60px; height: 60px; object-fit: cover;">
      </a>
    </div>
    <ul class="menu-item">
      <li><a routerLink="/about">about</a></li>
      <li><a routerLink="/search">search</a></li>
      <li><a routerLink="/chat">chat</a></li>
      <li><a routerLink="/calendar">calendar</a></li>
      <li><a routerLink="/login">login</a></li>
      <li><a routerLink="/register">register</a></li>
      <li><a (click)="checkAvailability()">calendar2</a></li>
    </ul>
  </div>
  <a routerLink="profile" class="menu-right">
    <div class="profile-img">
      <img src="../../assets/images/services/test_image.jpeg" alt="Logo">
    </div>
    <div class="profile-text">
      <span class="profile-name">ah john</span>
      <small class="profile-subtext">see your profile</small>
    </div>
  </a>
</div>